WEB3_PROVIDER_URI=http://127.0.0.1:8545
DID_REGISTRY_ADDRESS=
BLOG_REGISTRY_ADDRESS=
DEPLOYER_PRIVATE_KEY=
DATABASE_URL=sqlite:///decentrablog.db
FLASK_ENV=development
FLASK_PORT=5000
BLOCKCHAIN_ENABLED=false
